.audio{ 
  position: absolute;
  width: 3px;
  height: 3px;
  top: 17px;
  right: 60px;
  border: 5px solid #1919A6;
  background-color: black;
  border-radius: 5px;
}

.audio:hover{ 
  border: 5px dotted #ffff00;;
  border-radius: 5px;
}