.textarea {
  margin-top: 15px;
  background-color: #000;
  height: 40px;
}

.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 5px solid #1919A6;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  background-image: url('https://gitlab.kit.edu/uetou/topic-2-a-gamified-explainable-artificial-intelligence-evaluation-tool/-/raw/main/aid-game/resources/images/pacman-slider.png?ref_type=heads');
  background-size: cover; 
  cursor: pointer; 
}

.submit-button {
  padding: 5px 10px;
  margin-left: 0px;
  font-size: 10pt;
  width: 100%;
  font-family: 'Press Start 2P';
  color: #fff000;
  
  border: 5px solid #1919A6;
  border-radius: 5px;

  background-color: #000;
}