.header{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #ffffff;
    font-size: 10pt;
}

.text{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #ffff00;
    font-size: 10pt;
    margin: 20px;
}

.text2{
    text-align: left;
    font-family: 'Press Start 2P';
    color: #ffffff;
    font-size: 8pt;
    margin: 20px;
}

.text3{
    text-align: left;
    font-family: 'Press Start 2P';
    color: #ffffff;
    font-size: 8pt;
    padding-left: 30px;
    margin: 20px;
}

.text4{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #f900c3;
    font-size: 8pt;
    margin: 50px;
}