.header-text{
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: #ffff00;
    text-align: center;
    margin-top: 20px;
}

.allTime{
    font-family: 'Press Start 2P';
    font-size: 10px;
    color: #66d2e8;
    text-align:center;
    list-style-position: inside;
    margin-bottom: 7px;
}

.today{
    font-family: 'Press Start 2P';
    font-size: 10px;
    color:  #f900c3;
    text-align: center;
    list-style-position: inside;
    margin-bottom: 7px;
}