@font-face {
  font-family: 'Press Start 2P';
  src: url('../../resources/fonts/press-start-2p.ttf') format('truetype');
}

.login-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textLP {
  text-align: center;
  font-family: 'Press Start 2P';
  color: #ffffff;
}

.buttonLP {

  margin-top: 15px;
  padding: 20px 40px;
  margin-bottom: 20px;
  background: none;
  font-size: 15pt;
  font-family: 'Press Start 2P';
  color: #ffff00;
  cursor: pointer;
  background-color: #000;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

.buttonLP:hover {
  border: 5px dotted #ffff00;
}

.text-box-LP {
  border: 5px solid #1919A6;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 10px;
  background-color: #000;
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

.text-box-link {
  border: 5px solid #1919A6;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin: 10px 10px;
  background-color: #000;
  text-align: center;
  font-size: 10px;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

.text-desc {
  text-align: center;
  font-family: 'Press Start 2P';
  color: #ffffff;
  font-size: 8pt;
}