.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    justify-content: center; 
    width: 550px; 
    margin: 0 auto; 
    padding: 20px; 
    font-family: 'Press Start 2P';
    font-size: 1%;
    color: #fff

}

.memory-card {
    width: 130px; 
    height: 170px; 
    cursor: pointer;
}

.memory-card .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card .card-inner.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px; 
    background-size: cover;
    background-position: center; 
}

.front {
    transform: rotateY(180deg); 
}

.back {
    background-color: #000; 
    background-image: url('https://gitlab.kit.edu/uetou/topic-2-a-gamified-explainable-artificial-intelligence-evaluation-tool/-/raw/main/aid-game/resources/images/card-background.jpg?ref_type=heads'); 
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #1919A6;
    border-radius: 5px;
    }

.item-sort-container{
    border: 5px solid #fff;    
}

.progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #000;

    border: 5px solid #1919A6;
    border-radius: 5px;
}

.progress-bar {
    height: 20px;
    background-color: #ffff00;
    
    width: 0;
    transition: width 0.5s ease-in-out;
}

.timer{
    margin-top: 10px;
    text-align: right;
}

.game-over-message {
    color: #ffff00;
    margin-top: 10px;
    text-align: right;
}

.text-right{
    margin-top: 10px;
    text-align: right;
}

.text-left{
    margin-top: 10px;
    text-align: left;
}

@keyframes burn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.85;
    }
    50% {
        opacity: 0.7;
    }
    75% {
        opacity: 0.55;
    }
    100% {
        opacity: 0.4;
    }
}

.matched {
    animation: burn 0.4s ease-in-out forwards;
}