.modal-close-button {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 100%;
    font-family: 'Press Start 2P';
    color: #ffff00;
    background-color: #000;
    padding: 5px;
    border: 5px solid #1919A6;
    border-radius: 5px;
}
