.textQ-head{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #fff;
    font-size: 10px;
    margin-bottom: 20px;
}

.textQ-title{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #ffff00;
    font-size: 15px;
    margin-top: 25px;
  }

.buttonQ{
    padding: 10px 10px;
    margin-bottom: 10px;
  
    font-size: 1%;
    font-family: 'Press Start 2P';
    color: #fffcfc;
  
    cursor: pointer;
    
    border: 5px solid #1919A6;
    border-radius: 5px;
  }
  
  button:hover{
    border: 5px dotted #ffff00;
  }

.feedback{
    text-align: center;
    font-family: 'Press Start 2P';
    color: #ffff;
    font-size: 10px;
    margin-top: 20px;
  }