body {
  background-image: url('https://gitlab.kit.edu/uetou/topic-2-a-gamified-explainable-artificial-intelligence-evaluation-tool/-/raw/main/aid-game/resources/images/background-image.gif?ref_type=heads');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

.stop-music {
  position: absolute;
  top: 0px;
  right: 55px;
  font-size: 100%;
  font-family: 'Press Start 2P';
  color: red;
  cursor: pointer;
  padding: 5px;
}

.music {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 100%;
  font-family: 'Press Start 2P';
  color: #ffff00;
  cursor: pointer;
  background-color: #000;
  padding: 5px;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

.level-points {
  position: absolute;
  top: 15px;
  align-items: baseline;
  font-size: 100%;
  font-family: 'Press Start 2P';
  color: #ffff00;
  background-color: #000;
  padding: 5px;
}

.game-name {
  padding-top: 40px;
  text-align: center;
  font-size: 250%;
  font-family: 'Press Start 2P';
  color: #ffff00;
}

.game-info {
  position: absolute;
  top: -6px;
  right: 10px;
  font-size: 100%;
  font-family: 'Press Start 2P';
  color: #ffff00;
  cursor: pointer;
  background-color: #000;
  padding: 5px;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

.game-info:hover {
  border: 5px dotted #ffff00;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Press Start 2P';
  size: auto;
}

.header-container-button {
  padding: 10px 20px;
  margin-left: 5px;
  font-size: 10pt;
  font-family: 'Press Start 2P';
  color: #fff;
  border: 5px solid #1919A6;
  border-radius: 5px;
  background-color: #000;

}

.header-container-button:hover {
  border: 5px dotted #ffff00;
}

.username-display {
  margin: 10px 10px;
  text-align: center;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

.info-text {
  border: 5px solid #1919A6;
  border-radius: 5px;
  padding: 7.5px;
  margin-bottom: 10px;
  background-color: #000;
  text-align: center;
  font-size: 8pt;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

.prediction-text {
  border: 5px solid #1919A6;
  border-radius: 5px;
  padding: 7.5px;
  margin-bottom: 10px;
  background-color: #000;
  text-align: center;
  font-family: 'Press Start 2P';
  color: #ffff00;
}

.text-box {
  border: 5px solid #1919A6;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px;
  text-align: center;
  font-size: 1%;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

.images-container {
  width: 100%;
  align-items: center;
  align-self: center;
  display: inline-flex;
  justify-content: center;
  font-family: 'Press Start 2P';
  font-size: 1%;
  color: #fffcfc;
}

.images-container img {
  width: 33vw;
  height: 35vw;

  object-fit:cover;

  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

form {
  width: 21vw;
  margin: 20px 0 10px 10px;
}

form div {
  margin-bottom: 10px;
}

textarea {
  width: 95%;
  height: 55px;
  background: none;
  border: 5px solid #1919A6;
  border-radius: 5px;
  font-size: 1%;
  font-family: 'Press Start 2P';
  color: #fffcfc;
}

button {
  padding: 20px 40px;
  margin-bottom: 20px;

  background: none;

  font-size: 1%;
  font-family: 'Press Start 2P';
  color: #fffcfc;

  cursor: pointer;

  border: 5px solid #1919A6;
  border-radius: 5px;
}

button:hover {
  border: 5px dotted #ffff00;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: #000;
  padding: 20px;
  border-radius: 5px;

  font-size: 1%;
  font-family: 'Press Start 2P';
  color: #fff;

  border: 5px solid #1919A6;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 100%;
  font-family: 'Press Start 2P';
  color: #ffff00;
  background-color: #000;
  padding: 5px;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

.timer-bar {
  height: 5px;
  width: 100%;
  margin-top: 5px;
}

.timer-bar div {
  height: 100%;
  background-color: #ffff00;
  transition: width 1s linear;
}

.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #000;
  padding: 20px;
  border: 5px solid #1919A6;
  border-radius: 5px;
}

.textFB-head {
  text-align: center;
  font-family: 'Press Start 2P';
  color: #fff;
  font-size: 10px;

  margin-bottom: 20px;
}

.textFB-title {
  text-align: left;
  font-family: 'Press Start 2P';
  color: #ffff00;
  font-size: 15px;
  margin-top: 25px;
}

.textFB {
  text-align: left;
  font-family: 'Press Start 2P';
  color: #ffffff;
  font-size: 10px;
}

.loadIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 200;
  text-align: center;
  font-size: 250%;
  font-family: 'Press Start 2P';
  color: #ffff00;
  line-height: 90vh;
}

.loadIn.startEnde {
  display: none;
  opacity: 0;
  z-index: -10;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 7s ease-in forwards;

}